.column-design {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.badge.disabled {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.badge img {
  width: 4em;
  height: 4em;
}

.navbar {
  background: rgba(0, 0, 0, 0);
}

.mid-center {
  width: 66%;
    margin-left: 15%;
}
  
  
  footer {
    margin-top: auto;
    padding: 1.5rem 1.5rem 1rem !important;
  }

  .badges {
      flex: 1;
      display: flex;
      justify-content: center;
  }
.badge-name {
  text-align: center;
}

  nav a.no-hover:hover {
    background-color: #00d1b2 !important;
  }

.section {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.sqb-centered {
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
}

@import 'bulma_floating_btn.sass';